{% load static %}

<header class="main-header" id="header">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <!-- Sidebar toggle button -->
    <button id="sidebar-toggler" class="sidebar-toggle">
    <span class="sr-only">Toggle navigation</span>
    </button>

    <span class="page-title">{{ title }}</span>

        <div class="navbar-right ">

        <!-- search form -->
        <div class="search-form">
          <form action="{% url 'home' %}" method="get">
            <div class="input-group input-group-sm" id="input-group-search">
              <input type="text" autocomplete="off" name="query" id="search-input" class="form-control" placeholder="Search..." />
              <div class="input-group-append">
                <button class="btn" type="button">/</button>
              </div>
            </div>
          </form>
          <ul class="dropdown-menu dropdown-menu-search">

            <li class="nav-item">
              <a class="nav-link" href="index.html">Morbi leo risus</a>
            </li>

          </ul>

        </div>

            <ul class="nav navbar-nav">

                <!-- User Account -->
                {% if request.user.is_authenticated %}

                <li class="dropdown user-menu">
                <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <img src="{{ request.user.avatar.url }}" class="user-image rounded-circle" alt="User Avatar" />
                  <span class="d-none d-lg-inline-block">{{ request.user.username }}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a class="dropdown-link-item" href="{% url 'user-profile' %}">
                      <i class="mdi mdi-account"></i>
                      <span class="nav-text">My Profile</span>
                    </a>
                  </li>

                  <li>
                    <a class="dropdown-link-item" href="{% url 'user-account-settings' %}">
                      <i class="mdi mdi-settings"></i>
                      <span class="nav-text">Account Setting</span>
                    </a>
                  </li>

                  <li class="dropdown-footer">
                    <a class="dropdown-link-item" href="{% url 'logout' %}"> <i class="mdi mdi-logout"></i> Log Out </a>
                  </li>
                </ul>
                </li>

                {% else %}

                <li class="dropdown user-menu">
                <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <img src="{% static 'images/avatar.svg' %}" class="user-image rounded-circle" alt="User Avatar" />
                  <span class="d-none d-lg-inline-block">Guest</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a class="dropdown-link-item" href="{% url 'sign-in' %}">
                        <i class="mdi mdi-login"></i>
                        <span class="nav-text">Sign in</span>
                    </a>
                  </li>

                  <li>
                    <a class="dropdown-link-item" href="{% url 'sign-up' %}">
                        <i class="mdi mdi-account-plus-outline"></i>
                        <span class="nav-text">Sign up</span>
                    </a>
                  </li>

                </ul>
                </li>

                {% endif %}

            </ul>
        </div>
    </nav>
</header>