{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HammerSite</title>

    <!-- theme meta -->
{#    <meta name="theme-name" content="mono" />#}

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="{% static 'plugins/material/css/materialdesignicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link href="{% static 'plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="{% static 'plugins/toaster/toastr.min.css' %}" rel="stylesheet" />

    <!-- MONO CSS -->
    <link href="{% static 'css/style.css' %}" id="main-css-href" rel="stylesheet"  />

    <!-- FAVICON -->
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" />
    <script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
</head>