{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <!-- head -->
    {% include 'head.html' %}

    <body class="navbar-fixed sidebar-fixed" id="body">
        <script>
                    NProgress.configure({ showSpinner: false });
                    NProgress.start();
                </script>
        <div id="toaster"></div>
        <div class="wrapper">

            <!-- left sidebar -->
            {% include 'left-sidebar.html' %}

            <div class="page-wrapper">

                <!-- top navbar -->
                {% include 'header.html' %}

                <!-- main body -->
                <div class="content-wrapper">
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

                <!-- footer -->
                {% include 'footer.html' %}

            </div>
        </div>

        <!-- off-canvas -->
        {% include 'off-canvas.html' %}

        <!-- scripts -->
        {% include 'scripts.html' %}

    </body>
</html>