<body class="bg-light-gray" id="body">
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
  <div class="d-flex flex-column justify-content-between">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10">
        <div class="card card-default">
          {% include 'sign-header.html' %}
          <div class="card-body p-7 text-center">

            <h4 class="text-dark mb-6 ">This Page Is Under Maintenance</h4>
              <i class="mdi mdi-wrench mdi-48px mdi-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>