{% extends 'main.html' %}

{% block content %}

<div class="content">

{% if page == "items" %}

<div class="card card-default">
  <div class="card-header">
    <h2>Items</h2>
  </div>
  <div class="card-body">

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="group">Group</label>
        <input type="text" class="form-control" placeholder="Group">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" placeholder="Type">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="source">Source</label>
        <input type="text" class="form-control" placeholder="Source">
      </div>
    </div>
  </div>
<hr>

    <table class="table table-hover table-product" style="width:100%">
      <thead>
        <tr>
          <th>name</th>
          <th>group</th>
          <th>type</th>
          <th>source</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
          <td><a href="#">{{ item.name.capitalize }}</a></td>
          <td>{{ item.group.capitalize }}</td>
          <td>{{ item.type.capitalize }}</td>
          <td>{{ item.source }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}

</div>

{% endblock %}