<div class="card card-default">
    <div class="card-header">
    <h2>Sales by Country</h2>
    <div id="country-sales-range" class="date-range">
      <i class="mdi mdi-calendar"></i>&nbsp;
      <span class="date-holder"></span>
      <i class="mdi mdi-menu-down"></i>
    </div>
    </div>
    <div class="card-body py-0" >
    <div class="row pb-4">
      <div class="col-lg-7 border-right-lg">
        <div class="vec-map-wrapper" >
          <div id="home-world" style="height: 100%; width: 100%;"></div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="chart-wrapper">
          <div id="horizontal-bar-chart"></div>
        </div>
      </div>
    </div>

    </div>
    </div>