<div class="card card-default">
    <div class="card-header">
    <h2>Top Customers</h2>
    </div>
    <div class="card-body">
    <table class="table table-borderless table-thead-border">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-right">Income</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-dark font-weight-bold">Gunter Reich</td>
          <td class="text-right">$2,560</td>
        </tr>
        <tr>
          <td class="text-dark font-weight-bold">Anke Kirsch</td>
          <td class="text-right">$1,720</td>
        </tr>
        <tr>
          <td class="text-dark font-weight-bold">Karolina Beer</td>
          <td class="text-right">$1,230</td>
        </tr>
        <tr>
          <td class="text-dark font-weight-bold">Lucia Christ</td>
          <td class="text-right">$875</td>
        </tr>
      </tbody>
      <tfoot class="border-top">
        <tr>
          <td><a href="#" class="text-uppercase">See All</a></td>
        </tr>
      </tfoot>
    </table>
    </div>
    </div>